.onboardingRoot {
  width: 338px;
  height: 782px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  align-items: flex-start;
  padding: 15px 18px 15px 19px;
}
.statusBar {
  width: 338px;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0px 0px 65px 0px;
}
.element2 {
  align-self: stretch;
  width: 50px;
  height: 15px;
  position: relative;
  flex-grow: 1;
  margin: 0px 229px 0px 0px;
}
.image1 {
  width: 12px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 38px;
}
.text1 {
  width: 45px;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 700;
  color: #282828;
  position: absolute;
}
.image2 {
  width: 14px;
  height: 12px;
  margin: 0px 5px 0px 0px;
}
.image3 {
  width: 16px;
  height: 11px;
  margin: 0px 5px 0px 0px;
}
.image4 {
  width: 19px;
  height: 10px;
}
.geda {
  width: 77px;
  height: 78px;
  margin: 0px 0px 30px 17px;
}
.element3 {
  align-self: stretch;
  height: 192px;
  position: relative;
  min-width: 338px;
  margin: 0px 0px 241px 0px;
}
.paragraph {
  width: 241px;
  height: 136px;
  font-size: 30px;
  font-family: Ubuntu;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 17px;
}
.paragraph1 {
  width: 241px;
  height: 72px;
  font-size: 15px;
  font-family: Ubuntu;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 120px;
  left: 17px;
}
.purpleHeartRectangle {
  width: 25px;
  height: 4px;
  background-color: #4e0ca2;
  position: absolute;
  top: 184px;
  left: 25px;
  border-radius: 10px;
}
.purpleHeartText {
  display: flex;
  font-size: 17px;
  font-family: Ubuntu;
  font-weight: 500;
  color: #ffffff;
  width: 321px;
  height: 20px;
  background-color: #4e0ca2;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 18px 0px 20px 0px;
  margin: 0px 0px 7px 8px;
}
.text2 {
  display: flex;
  font-size: 17px;
  font-family: Ubuntu;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  width: 319px;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 18px 0px;
  margin: 0px 0px 0px 7px;
}
