.userProfileRoot {
  width: 375px;
  height: 1868px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
}
.whiteFlexColumn {
  height: 112px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 37px;
  align-items: center;
  padding: 5px 18px 5px 19px;
  margin: 0px 0px 7px 0px;
}
.statusBar {
  width: 338px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.element6 {
  align-self: stretch;
  width: 50px;
  height: 15px;
  position: relative;
  flex-grow: 1;
  margin: 0px 229px 0px 0px;
}
.image1 {
  width: 12px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 38px;
}
.text1 {
  width: 45px;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 700;
  color: #282828;
  position: absolute;
}
.image2 {
  width: 14px;
  height: 12px;
  margin: 0px 5px 0px 0px;
}
.image3 {
  width: 16px;
  height: 11px;
  margin: 0px 5px 0px 0px;
}
.image4 {
  width: 19px;
  height: 10px;
}
.back {
  width: 47px;
  height: 50px;
  margin: 0px 80px 0px 0px;
}
.text2 {
  font-size: 23px;
  font-family: Ubuntu;
  font-weight: 700;
  color: #4e0ca2;
  margin: 0px 86px 0px 0px;
}
.dotsThreeCircle {
  width: 32px;
  height: 32px;
}
.ellipse {
  height: 114px;
  background-image: url("undefined");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 11px 4px 3px;
  margin: 0px 0px 8px 0px;
}
.image5 {
  width: 106px;
  height: 106px;
}
.text3 {
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  margin: 0px 0px 5px 0px;
}
.text4 {
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  align-self: flex-end;
  margin: 0px 99px 4px 0px;
}
.text5 {
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin: 0px 0px 11px 0px;
}
.purpleHeartFlexRow {
  background-color: #4e0ca2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  border-radius: 10px;
  padding: 11px 19px 9px 26px;
  margin: 0px 0px 18px 0px;
}
.element7 {
  width: 274px;
  height: 37px;
  position: relative;
  align-items: center;
  margin: 0px 0px 25px 0px;
}
.text6 {
  text-align: center;
  display: flex;
  font-size: 10px;
  font-family: Ubuntu;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  border-width: 1px;
  border-color: #282828;
  border-style: solid;
  width: 130px;
  height: 11px;
  position: absolute;
  top: -1px;
  left: -1px;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 0px;
}
.blackText {
  text-align: center;
  display: flex;
  font-size: 10px;
  font-family: Ubuntu;
  font-weight: 500;
  color: #ffffff;
  width: 132px;
  height: 11px;
  background-color: #282828;
  position: absolute;
  left: 142px;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 13px 0px;
}
.element8 {
  width: 322px;
  height: 41px;
  align-self: flex-start;
  position: relative;
  margin: 0px 0px 4px 25px;
}
.text7 {
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 14px;
  left: 35px;
}
.text8 {
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 13px;
  left: 205px;
}
.line {
  width: 322px;
  height: 2px;
  position: absolute;
  left: 0.5px;
}
.line1 {
  width: 322px;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 0.5px;
}
.line2 {
  width: 1px;
  height: 40px;
  position: absolute;
  top: -39.5px;
  left: 164.5px;
}
